node_modules
npm-debug.log
yarn-error.log
.next
out
build
dist
.env
.env.*
.env.local
.env.local.*
.cache
.vercel
*.log
.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
prisma/migrations/
*.tsbuildinfo
.Dockerfile
